.container {
    position: fixed;
    margin: 0 auto;
    padding-top: 10px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.closeBtn {
    flex-shrink: 0;
    margin: 33px;
    width: 52px;
    height: 52px;
    padding: 0;
    background: linear-gradient(180deg, #8CB928 0%, #45AE4D 100%);
    border-radius: 52px;
    box-sizing: border-box;
    border:none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popupCards {
    display: flex;
    max-width: 720px;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 18px;
    padding: 40px;
    background: linear-gradient(180deg, #8CB928 0%, #45AE4D 100%);
    border-radius: 18px;
    box-shadow: 0 25px 100px #48AE4B;
}